body{
    background-color: #f7f2e4;
}

.child{
    display: inline-block;
}

.RName{
    font-size: 50px;
    letter-spacing: 6px;
    margin-left: 100px;
    margin-top: 100px;
    width: 450px;
    text-align: center;
}

h1{
    margin:0;
    line-height: 0.9;
}

h2{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 10px;
}

.discription{
    float: right;
    margin-right: 150px;
}

h3{
    font-size: 40px;
    letter-spacing: 3px;
    margin-right: 100px;
    margin-top: 100px;
}

.title_font{
    font-family: "Sigmar", serif;
    color: #4154bf;
}

.body-text{
    font-family: "Zain", serif;
    color: #4154bf;
}

.intro{
    margin-top: -20px;
    font-size: 21px;
    width: 420px;
    line-height: 1.2;
}

img{
    width: 280px;
    margin-right: 20px;
    margin-top: -80px;
    margin-bottom: 80px;
}

.img_container{
    margin-bottom: 0;
    margin-top: 150px;
}

.center{
    width: 1230px;
    margin: auto;
    padding-left: 20px;

}

.number{
margin-bottom: -20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 282px;
    margin-left: 10px;
}

.menu{
    margin-top: -20px;
    text-align: right;
    margin-right: 600px;
}

.item-container{
    float:right;
    width: 500px;
    margin-right: 223px;
    margin-bottom: 100px;
}

.item{
    font-size: 20px;
    display: inline-block; 
    width: 230px;
    margin: 0;
}