body{
    background-color: #f7f2e4;
}

.RName{
    color: #4154bf;
    font-size: 50px;
    letter-spacing: 6px;
    margin-left: 100px;
    margin-top: 100px;
    width: 30%;
    text-align: center;
}

h1{
    margin:0;
    line-height: 0.9;
    font-family: "Sigmar", serif;
}

h2{
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
}